
    /* div, h1, form, input, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: black;
    }
    h1 {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    }
    p {
    font-size: 12px;
    }
    hr {
    color: #a9a9a9;
    opacity: 0.3;
    }
    .main-block {
    max-width: 800px; 
    min-height: 460px; 
    padding: 10px 0;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb; 
    }
    form {
    margin: 0 30px;
    }
    .account-type, .gender {
    margin: 15px 0;
    }
    input[type=radio] {
    display: none;
    }
    label#icon {
    margin: 0;
    border-radius: 5px 0 0 5px;
    }
    label.radio {
    position: relative;
    display: inline-block;
    padding-top: 4px;
    margin-right: 20px;
    text-indent: 30px;
    overflow: visible;
    cursor: pointer;
    }
    label.radio:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1c87c9;
    }
    label.radio:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4px;
    top: 8px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    }
    input[type=radio]:checked + label:after {
    opacity: 1;
    }
    input[type=text], input[type=password] {
    width: calc(100% - 57px);
    height: 36px;
    margin: 13px 0 0 -5px;
    padding-left: 10px; 
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
    }
    input[type=password] {
    margin-bottom: 15px;
    }
    #icon {
    display: inline-block;
    padding: 9.3px 15px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #1c87c9;
    color: #fff;
    text-align: center;
    }
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    button {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #1c87c9; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    }
    button:hover {
    background: #26a9e0;
    } */

    button{
        border: none;
    }

    html {
        height: 100%;
      }
      body {
        margin:0;
        padding:0;
        font-family: sans-serif;
        /* background: linear-gradient(#141e30, #243b55); */
      }
      
      .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60vw;
        
        padding: 40px;
        transform: translate(-50%, -50%);
        /* background: rgba(0,0,0,.5); */
        background: rgb(226, 223, 223);
        box-sizing: border-box;
        /* box-shadow: 0 15px 25px rgba(0,0,0,.6); */
        box-shadow: 0 15px 25px rgb(129, 126, 126);

        border-radius: 10px;
      }
      
      .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        /* color: #fff; */
        color: #1c87c9;
        text-align: center;
      }
      
      .login-box .user-box {
        position: relative;
      }
      
      .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 18px;
        /* color: #fff; */
        color: #1c87c9;
        margin-bottom: 30px;
        border: none;
        /* border-bottom: 1px solid #fff; */
        border-bottom: 1px solid black;
        outline: none;
        background: transparent;
      }
      .login-box .user-box label {
        position: absolute;
        top:0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        /* color: #fff; */
        color: black;
        pointer-events: none;
        transition: .5s;
      }
      
      .login-box .user-box input:focus ~ label,
      .login-box .user-box input:valid ~ label {
        top: -20px;
        left: 0;
        /* color: #03e9f4; */
        color: black;
        font-size: 14px;
      }
      
      .login-box form #a {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        /* color: #03e9f4; */
        color: black;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px
      }
      
      .login-box #a:hover {
        /* background: #03e9f4; */
        background: #1c87c9;
        color: #fff;
        border-radius: 5px;
        /* box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 100px #03e9f4; */


        box-shadow: 0 0 5px #1c87c9,
                    0 0 25px #1c87c9,
                    0 0 50px #1c87c9,
                    0 0 100px #1c87c9;

      }
      
      .login-box #a span {
        position: absolute;
        display: block;
      }
      
      .login-box #a span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        /* background: linear-gradient(90deg, transparent, #03e9f4); */
        background: linear-gradient(90deg, transparent, #1c87c9);
        animation: btn-anim1 1s linear infinite;
      }
      
      @keyframes btn-anim1 {
        0% {
          left: -100%;
        }
        50%,100% {
          left: 100%;
        }
      }
      
      .login-box #a span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        /* background: linear-gradient(180deg, transparent, #03e9f4); */
        background: linear-gradient(180deg, transparent, #1c87c9);
        animation: btn-anim2 1s linear infinite;
        animation-delay: .25s
      }
      
      @keyframes btn-anim2 {
        0% {
          top: -100%;
        }
        50%,100% {
          top: 100%;
        }
      }
      
      .login-box #a span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        /* background: linear-gradient(270deg, transparent, #03e9f4); */
        background: linear-gradient(270deg, transparent, #1c87c9);
        animation: btn-anim3 1s linear infinite;
        animation-delay: .5s
      }
      
      @keyframes btn-anim3 {
        0% {
          right: -100%;
        }
        50%,100% {
          right: 100%;
        }
      }
      
      .login-box #a span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        /* background: linear-gradient(360deg, transparent, #03e9f4); */
        background: linear-gradient(360deg, transparent, #1c87c9);
        animation: btn-anim4 1s linear infinite;
        animation-delay: .75s
      }
      
      @keyframes btn-anim4 {
        0% {
          bottom: -100%;
        }
        50%,100% {
          bottom: 100%;
        }
      }
      